.newFriend{
    /* margin-top: -36px; */
    /* width: auto !important;
    /* height: 46px; */
    /*height: 15% !important;
    /* margin-top: -2.69rem !important; */
    /*margin-top: -2.94rem !important; */
    /* visibility: hidden !important; */
  
    /* position: absolute !important;
    margin-top: 103px !important; */
    
    margin-top: 70% !important;
    width: 105% !important;
    box-shadow: none !important;
    margin-left: -7.1px;
  }