.App {
  text-align: center;
  /* background-image: url("./images/fondo-pelota.jpg"); */
  width: 100%;
  height: 100%;
  /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  width: 100% !important;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); */
  /* color: white; */
  /**/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("./images/fondo-pelota.jpg");
  /* background-image: url("http://www.hoerbranz.at/system/web/GetImage.ashx?fileid=922469&mode=O"); */
  padding-top: 120px;
  /*121*/
  background-attachment: fixed;
}

.btn-primary:not(:disabled):not(.disabled):active{
  /* color: #fff; */
  /* background-color: #0062cc; */
  /* border-color: #005cbf; */
  color: burlywood;
    background-color: #2c440291 !important;
    border-color: #2c440291 !important;
}

.card-footer {
  background: none !important;
  border-top: none !important;
}

/* .App-header2{
  padding-top: 116px;/*121*/

/* } */

.App-link {
  color: #61dafb;
}

/*Navbar*/

.navbar {
  z-index: 999;
  background-color: rgba(210, 184, 169, 0.74);
}

.DropdownNavbar {
  display: flex;
}

.notifications {
  border-radius: 50% !important;
  background-color: transparent !important;
  margin-right: -27px !important;
  position: relative !important;
}

#dropdown-basic {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
}

#dropdown-basic:focus, .btn-primary .dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem transparent;
}

/********************/

.form-control-red {
  border: 1.2px solid red;
}

#dropdwnMenuShowNavbar {
  background-color: #dec7b985;
  /* background-color: #f8f9fab5; */
  margin-top: 17px;
  margin-left: -81px;
  border-radius: 15px;
}

#dropdwnMenuShowNavbarNotifications {
  background-color: #dec7b985;
  /* background-color: #f8f9fab5; */
  margin-top: 17px;
  border-radius: 15px;
  margin-left: -48px !important;
}

#dropdwnMenuShowNavbar .span-logo:hover, .dropdwnMenuShowNavbarNotifications .span-logo:hover {
  color: black;
}

.avatarNavbar {
  height: 50px;
  width: auto;
  border-radius: 20%;
}

.avatarFrofile {
  height: 400px;
  width: auto;
}

.logo {
  height: 70px;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-nav a {
  color: #000 !important;
}

/**/

.collapse a {
  color: #081d60 !important;
  /* color: white !important; */
  font-size: 23px;
}

a {
  color: black !important;
  text-decoration: none;
}

/* *********************************************************************************************** */

/* a:hover{
  background-color: #808080a6;
} */

span:hover, a:hover {
  color: #081d60 !important;
  /* color: grey !important; */
  text-decoration: none;
}

.dropdwnMenuShowNavbarNotifications {
  left: -61px !important;
}

.dropdown-menu a {
  color: #081d60 !important;
  padding-left: 10px;
  /* color: white !important; */
}

.card-deck a {
  color: black !important;
}

a:hover {
  text-decoration: none !important;
}

/******************************************************************************/

.dropdown-menu a:hover {
  background-color: transparent !important;
  color: #6c757d !important;
}

/**/

.tituloIndex {
  padding-top: 12vw;
  padding-bottom: 6.9vw;
  padding-left: 25px;
  /* padding-top: 18vw;
  padding-bottom: 18vw; */
  /* padding-top: 25vh;
  padding-bottom: 25vh; */
  /* background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12); */
}

.tituloIndex h1 {
  letter-spacing: 5px;
  color: #bfbfbf !important;
  word-spacing: 0.2vw;
  font-size: 1.9rem;
  line-height: 1.8;
  margin-top: 0vh;
  /* color: #bfbfbf !important;
  word-spacing: 1.5vw;
  font-size: 1.7rem;
  margin-top: 1.5vh; */
  /**/
  /* color: black !important; */
  /* padding-right: 750px; */
}

.span-logo {
  color: #081d60 !important;
  /* color: white !important; */
  padding-right: 35px;
  font-size: 23px;
}

.span-logo-dropdown {
  padding-right: 15px;
}

.span-title {
  padding-left: 35px;
}

/**/

.span-logo:hover, .span-Dropdown:hover {
  /* color: #081d60 !important; */
  color: #6c757d !important;
}

.span-Dropdown {
  color: #081d60 !important;
  /* color: white !important; */
  padding-right: 10px;
  font-size: 23px;
  /* text-transform: capitalize !important; */
}

.dropdown-menu.show {
  /* width: 206px; */
  width: 220px;
  margin-left: 1.8rem;
  margin-top: -7.2rem;
  color: #fff;
  /* color: #081d60 !important; */
  font-size: 20px;
  line-height: 1;
}

.iconDropdown {
  margin-right: 10px;
  vertical-align: sub;
}

.listPlayers {
  padding-top: 150px;
}

/********************login.tsx**************************/

.login {
  /* color: #081d60; */
  /* padding-top: 25vh;
  padding-bottom: 25vh;
  height: 47vh;
  border-radius: 10%;
  margin: 17vh 23vw 3vh 23vw; */
  color: white;
  height: 50vh;
  border-radius: 1.55rem;
  margin: 16.4vh 23vw 3vh 23vw;
  /* background-color: rgba(255, 255, 255, 0.2); */
}

.error {
  margin: 0px;
  margin-top: 1rem;
}

.FormLogin {
  height: 100%;
  width: 100%;
}

.FormLogin input, .FormLogin label {
  width: 45%;
  margin: auto;
  text-align: left;
}

.FormLogin label {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.groupUsername {
  padding-top: 8vh;
}

.groupPass, .groupUsername, .groupButton {
  margin: 0px;
}

.groupPass {
  padding-top: 15px;
}

.form-group {
  display: block;
}

.buttonForm {
  background-color: #38303f6b;
  border-radius: .25rem;
  border: #38303f6b;
  /* background-color: #38303fe3;
  border-radius: .25rem;
  border: 1px solid #38303fe3; */
}

.buttonForm:hover {
  color: burlywood;
  background-color: #2c440291;
  border-color: #2c440291;
  /* color: #081d60 !important;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.2); */
}

.buttonForm:disabled, .buttonForm:disabled:hover {
  background-color: #38303f6b;
  border-radius: .25rem;
  border: #38303f6b;
  color: white;
  /* background-color: #38303fe3;
  border-radius: .25rem;
  border: 1px solid #38303fe3; */
}

.btn-primary:focus, .btn:focus {
  box-shadow: none !important;
}

.containerButtonLogin {
  padding-top: 1rem;
  text-align: center;
}

.ErrorLogin {
  padding-top: 15px;
}

/********************ListPlayers.tsx**************************/

#dropdwnRatingListPlayer {
  background-color: transparent;
  border: none;
}

.dropdwnContainerRatingListPlayer {
  margin-left: 3rem;
  margin-top: -7.7rem;
}

.containerBuscador {
  /* background-color: rgba(255, 255, 255, 0.2); */
  text-align: left;
  /* color: #081d60; */
  color: white;
}

.buscador {
  /* position: fixed;
  font-size: 23px;
  padding-top: 20vh; */
  position: fixed;
  font-size: 23px;
  background-color: #8080807a;
  padding: 2vh 2vw 2vh 2vw;
  border-radius: 5%;
  margin-top: 3vh;
}

.avatarListProfile {
  height: 9.4rem;
  width: 9.4rem;
  /* height: 150px;
  width: 150px; */
  border: 0.1px solid black;
  border-radius: 6% 35% 0% 35%;
  /* height: 220px;
  width: auto; */
}

.card .img .newFriend {
  /* margin-top: -36px; */
  /* width: auto !important;
  /* height: 46px; */
  /*height: 15% !important;
  /* margin-top: -2.69rem !important; */
  /*margin-top: -2.94rem !important; */
  visibility: hidden !important;
  position: absolute !important;
  margin-top: 103px !important;
}

.containerListCardPlayer {
  /* margin-right: 160px; */
  /* max-width: 1033px; */
  max-width: 60vw;
  /* margin-left: 9vw; */
  padding-right: 2.5vw;
  background: #f8f9fa42;
  border-radius: 13px;
  /* min-height: 41.3vh; */
  margin: auto;
}

.marginPlayerContainer {
  margin-left: 27.6vw;
}

.errorListPlayerOrFriendOrRequest {
  font-size: 20px;
  text-align: center;
  color: white !important;
  padding-top: 9%;
  /* padding-top: 15%; */
  height: 15px;
  min-height: 41.3vh;
}

.bottonErrorEdit {
  padding-top: 15px !important;
}

.cardsJugadores {
  width: 130px;
  height: auto;
  display: inline-block;
  margin: 20px;
  /* width: 201px;
  height: 441px;
  display: inline-block;
  margin: 20px; */
}

.cardListPlayer {
  height: 280px;
  width: 150px;
  border: 0.1px solid black;
  border-radius: 6% 35% 0% 35%;
}

.card {
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 1), 0 2px 10px 0 rgba(0, 0, 0, 1);
  /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12); */
}

.cardBodyListPlayer {
  padding: 0.5rem;
  line-height: 1;
}

.cardTitleListPlayer {
  margin-bottom: 0.5rem;
}

.cardTextListPlayer {
  margin-bottom: 0.3rem;
  display: flex;
  justify-content: center;
}

.card:hover {
  box-shadow: 10px 10px 15px 3px rgba(0, 0, 0, 1), 0 2px 10px 0 rgba(0, 0, 0, 1);
  margin-bottom: -10px;
  margin-left: -10px;
  /* margin-bottom: -15px;
  margin-left: -15px; */
}

.card img {
  box-shadow: 0 2px 5px 0 rgba(161, 132, 132, 0.16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.iconRatingTennis {
  font-size: 20px;
  line-height: inherit;
  /* margin-right: 10px; */
}

#dropdown-basic-button {
  background-color: transparent;
  border: none;
  font-size: 23px;
  padding-left: 1.25rem;
  box-shadow: none;
  /* color: #081d60; */
  color: #fff;
}

#dropdwnMenuShowNavbar.show {
  line-height: 1.5;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu[x-placement^=bottom], .dropdown-menu[x-placement^=left], .dropdown-menu[x-placement^=right], .dropdown-menu[x-placement^=top] {
  right: auto;
  bottom: auto;
  background-color: transparent;
  width: 85px !important;
  border: none;
  min-width: 85px !important;
  left: 0.35rem !important;
}

.form-check-input {
  position: relative;
  margin-right: 0.5rem;
}

/********************MENU Mensajes**************************/

.menuMensajesP {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.MenuMensajes {
  padding-top: 30px;
  list-style: none;
  padding-inline-start: 0px;
}

.MenuMensajes li a {
  color: white !important;
  font-size: 18px;
  justify-content: left;
  padding-left: 0.3rem;
  border: 1px solid white;
  border-radius: 10px 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px 2px black;
  /* font-size: 20px;
  justify-content: center; */
}

.MenuMensajes li a:hover {
  /* font-size: 25px; */
  color: #081d60 !important;
  box-shadow: 6px 6px 2px 2px black;
}

.divIconAndNameMenuMensaje {
  /**/
  display: flex;
  /* justify-content: center;
  align-content: center; */
  background-color: #808080a6;
}

.divIconAndNameMenuMensaje:focus {
  color: #081d60 !important;
  box-shadow: 6px 6px 2px 2px black;
}

.iconMenuMensajes {
  /**/
  font-size: 29px;
  line-height: inherit;
  margin-right: 10px;
}

/********************lista resumida de Correo recibido y enviado**************************/

.rowMsgReceived {
  background-color: rgba(0, 0, 0, 0.46);
  border-radius: 10px 10px 10px 10px;
}

.receivedOrSent {
  /* padding: 30px 20px 20px 20px; */
  padding: 30px 15px 20px 15px;
  /* text-align: left; */
}

.messageResume {
  margin: 0px 2px 0px 2px;
}

.messageResume:hover {
  background-color: #80808052;
  box-shadow: 6px 6px 2px 2px black;
  /* margin-bottom: 5px; */
  margin-left: -10px;
  margin-right: 10px;
}

.receivedOrSent a .row .colum, .receivedOrSent .colum {
  color: white;
  font-size: 20px;
}

.colBorder {
  border: 1px solid #ffffff6b;
  border-radius: 15px 15px 15px 15px;
}

.colum {
  display: flex;
  align-items: center;
}

.badge-date {
  color: white !important;
  font-size: 0.8rem;
  background-color: #808080a1;
}

.badge-date:hover {
  color: white !important;
}

.fondoCorreo {
  max-width: 1115px;
  box-shadow: 0 6px 11px 0 black;
  background-color: #adb5bd45;
  /* background-image: -webkit-gradient( linear, left top, right bottom, from(rgba(92, 80, 80, 0.2)), to(rgba(255, 255, 255, 0.37)), color-stop(.5, #d34f08d1));
  box-shadow: 0 2px 5px 0 rgba(161, 132, 132, 0.16), 0 2px 10px 0 rgba(0, 0, 0, .12); */
  border-radius: 10px;
}

.imgAvatarMsg {
  border-radius: 50%;
}

/******************** Mensaje enviado **************************/

.badge-mailSent-watched {
  background-color: #f8f9fa;
  border-radius: 50%;
  font-size: 30%;
}

.green600 {
  color: rgba(16, 120, 7, 0.82);
}

.blue300 {
  color: rgb(13, 75, 220);
}

.containerErrorMailSentorReceived {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.errorMailSentorReceived {
  font-size: 20px;
  text-align: center;
  color: white !important;
  height: auto;
  margin-top: -15px;
}

/******************** Detalle mensaje **************************/

.detalleMensaje {
  margin: auto;
  padding-left: 59px;
  color: white;
}

.containerMessageDetails {
  padding: 30px 20px 20px 20px;
  text-align: left;
}

.containerDateMessageDetail {
  text-align: end;
}

.miButton {
  border: 1px solid black;
  border-radius: 10%;
  width: 100px;
  /* margin-left: 55px; */
  /* align-items: center;
  text-align: center; */
}

.butttonRespondMessage {
  color: white !important;
  font-size: 18px;
  justify-content: left;
  background-color: #808080a6;
  border: 1px solid white;
  border-radius: 10px 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px 2px black;
  padding: .375rem .75rem;
}

.butttonRespondMessage:hover {
  color: #081d60 !important;
  box-shadow: 6px 6px 2px 2px black;
  background-color: #808080a6;
  border: 1px solid white;
}

.containerSubjectDetail {
  margin: 1rem 0;
  padding: 0 16px;
  color: white;
  font-size: 18px;
}

/* .mensajeNuevo {
  margin: auto;
} */

/******************** Correo nuevo **************************/

/* .containerPlayerDestinyMessage{
  display: flex;
} */

.usernameMailFrom {
  color: white !important;
  /* color: #081d60 !important; */
  /* font-size: 1.5rem; */
  font-size: 18px;
  margin: 0px;
}

.containerMessageNew {
  align-items: center;
  margin-bottom: 10px;
}

.containerButtonSend {
  text-align: end;
  margin-top: 1rem;
}

.textarea.form-control {
  height: 40vh;
}

.selectUsernameEmail {
  width: 7.5rem;
  padding: 0 20px 0 20px;
}

.textAreaMensajeNuevo {
  height: 40vh !important;
}

.butttonSendMessage {
  color: white !important;
  font-size: 18px;
  justify-content: left;
  background-color: #808080a6;
  border: 1px solid white;
  border-radius: 10px 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px 2px black;
}

.butttonSendMessage:hover {
  color: #081d60 !important;
  box-shadow: 6px 6px 2px 2px black;
  background-color: #808080a6;
  border: 1px solid white;
}

.ErrorAddMessage {
  color: white;
  text-align: left;
}

.containerErrorRed {
  border: 1.2px solid red;
}

/* .MenuMensajes li a:hover {
  /* font-size: 25px; */

/* color: #081d60 !important;
  box-shadow: 6px 6px 2px 2px black;
} */

*/
/******************** List friends **************************/

.containerBadgeNewPlayer {
  padding: 0;
}

/******************** Player nuevo **************************/

.containerAddPlayer {
  width: 30%;
  margin-top: 20px;
  color: white;
  font-size: 20px;
  /* align-items: flex-start; */
}

.containerButtonAddPlayer {
  text-align: center;
  margin-top: 10px;
}

.formAddPlayer {
  text-align: left;
}

.buttonForm {
  background-color: #38303f6b;
  border-radius: .25rem;
  border: #38303f6b;
  /* background-color: #38303fe3;
  border-radius: .25rem;
  border: 1px solid #38303fe3; */
}

.buttonForm:hover {
  color: burlywood;
  background-color: #2c440291;
  border-color: #2c440291;
  /* color: #081d60 !important;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.2); */
}

.buttonAddPlahyer {
  background-color: #38303f6b;
  border-radius: .25rem;
  border: #38303f6b;
  /* background-color: #825F41;
  border-color: #825F41; */
}

.buttonAddPlahyer:hover {
  color: burlywood;
  background-color: #2c440291;
  border-color: #2c440291;
  /* color: black;
  background-color: #825F41;
  border-color: #825F41; */
}

.uploadAvatar {
  width: 30%;
  text-align: left;
  margin: 2.35rem 0 16px;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.marginUpdateAvatar {
  margin: 0 6px;
}

.containerImage {
  margin-bottom: -17px;
}

.colUsername {
  padding: 2rem 0 0 0;
}

.containerGenero {
  max-width: 29%;
}

/******************** Editar Player **************************/

.CheckBoxAdmin {
  text-align: center;
  transform: scale(2);
}

/******************** Profile Player y ViewPlayer **************************/

.cardHorizont {
  line-height: 0.4;
  justify-content: center;
}

.cardFooterHorizont {
  margin: auto;
}

.cardProfile {
  height: 150px;
  border-radius: .55rem .25rem .25rem 3.3rem;
}

.cardProfileViewPlayer {
  height: 150px;
  border-radius: .55rem .25rem .25rem 3.3rem;
  /* max-width: 640px; */
  max-width: 700px;
  margin-bottom: 2rem !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.containerTextGenreAndIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

/******************** FriendshipRequest **************************/

.cardHorizontRequest {
  line-height: 0.4;
  width: 40%;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 1), 0 2px 10px 0 rgba(0, 0, 0, 1);
  border-radius: 10px 0px 0px 55px;
}

.cardHorizontRequest:hover {
  box-shadow: 10px 10px 15px 3px rgba(0, 0, 0, 1), 0 2px 10px 0 rgba(0, 0, 0, 1);
  margin-bottom: 0px;
  margin-left: -25px;
}

.containerListFriendshipRequest {
  display: flex;
  justify-content: center;
  margin: 1%;
}

.cardFooterFriendsRequest {
  display: flex;
  align-items: center;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(https://image.flaticon.com/icons/png/512/1/1707.png) !important;
}

/******************** ViewPlayer **************************/

@media (max-width: 600px) {
  .tituloIndex {
    padding-top: 43vw;
  }
  .tituloIndex h1 {
    font-size: 21px;
    margin: 30px;
    display: flex;
    height: 130px;
    justify-content: center;
    align-items: center;
    margin: 35px;
  }
  #colHome {
    visibility: hidden;
    display: none;
  }
  .span-title {
    visibility: hidden;
    display: none;
  }
  .navbar-collapse {
    text-align: right;
    display: block;
  }
  .span-logo button {
    float: right !important;
    background-color: transparent !important;
    border-color: transparent !important;
  }
  #dropdwnMenuShowNavbar.show {
    margin-left: 127px;
    margin-top: 71px;
  }
  .marginPlayerContainer {
    margin-left: 0px;
  }
  /* .containerBuscador{

} */
  .buscador {
    position: relative;
    height: 297px;
    width: 352px;
  }
  .containerListCardPlayer {
    margin-top: 8px;
    max-width: unset;
    padding-left: unset;
    padding-right: 18px;
  }
  .login {
    margin: unset;
  }
  .FormLogin {
    margin-top: 75px;
  }
  .groupUsername label {
    text-align: center;
  }
  .groupPass label {
    text-align: center;
  }
  .FormLogin input, .FormLogin label {
    width: 64%;
  }
  .cardProfileViewPlayer {
    height: 100%;
    border-radius: .55rem .25rem .25rem 3.3rem;
    /* max-width: 640px; */
    max-width: 700px;
    margin-bottom: 2rem !important;
    display: block !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .botonProfilePlayer button {
    margin: 15px;
  }
  .btonProfile {
    justify-content: center;
  }
  #dropdwnMenuShowNavbarNotifications {
    margin-top: 74px;
    margin-left: 131px !important;
  }
  .cardHorizontRequest {
    display: block !important;
    width: 60% !important;
  }
  .btonRequest {
    justify-content: center;
  }
  .errorListPlayerOrFriendOrRequest {
    padding-top: 15% !important;
  }
}